html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon' href='icon.png')
    title Search results for “#{query}” / dat-keyserver
    style
      include style.css
  body
    h1
      a(href='/') dat-keyserver
      span &nbsp;(#{version})
    h2 Search results for “#{query}”
    hr
    ul.searchResults
      each item in results
        li
          p
            strong pub
            |  #{item.algorithm.bits}/
            a(href=`/fetch?fingerprint=${item.fingerprint.slice(-16)}`)= item.fingerprint.slice(-8).toUpperCase()
            span  (cr.
            |  #{item.created.split('T')[0]}
            span , exp.
            |  #{item.expiry ? item.expiry.split('T')[0] : 'n/a'}) #{item.fingerprint.toUpperCase().replace(/(.{4})/g, '$1 ')}
          ul
            each user in item.users
              li
                p
                  strong uid&nbsp;
                  span.uid #{user.userId}
                ul
                  each sig in user.signatures
                    li sig #{sig.keyId.slice(-8).toUpperCase()}
                      span  (cr.
                      |  #{sig.created.split('T')[0]}
                      span , exp.
                      |  #{sig.expiry ? sig.expiry.split('T')[0] : 'n/a'})&nbsp;
                      if sig.keyId.slice(-8) === item.fingerprint.slice(-8)
                        | [selfsig]
                      else
                        a(href=`/search?query=${sig.keyId.slice(-16)}`)= sig.keyId.slice(-16).toUpperCase()
          ul
            each subkey in item.subkeys
              li
                p
                  strong sub
                  |  #{subkey.algorithm.bits}/#{subkey.fingerprint.slice(-8).toUpperCase()} (cr. #{subkey.created.split('T')[0]})
                  ul
                    each sig in subkey.signatures
                      li sig #{sig.keyId.slice(-8).toUpperCase()}
                        span  (cr.
                        |  #{sig.created.split('T')[0]}
                        span , exp.
                        |  #{sig.expiry ? sig.expiry.split('T')[0] : 'n/a'})
