html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon' href='icon.png')
    title Search results for “#{query}” / dat-keyserver
    style
      include style.css
  body
    h1
      | dat-keyserver&nbsp;
      span (#{version})
    h2 Search results for “#{query}”
    hr
    ul.searchResults
      each item in results
        li
          p
            strong pub
            |  #{item.algorithm.bits}/
            a(href=`/fetch?fingerprint=${item.fingerprint}`)= item.fingerprint.slice(-8).toUpperCase()
          p #{item.fingerprint.toUpperCase().replace(/(.{4})/g, '$1 ')}
          p
            span cr.
            |  #{item.created.split('T')[0]}
            span  exp.
            |  #{item.expiry ? item.expiry.split('T')[0] : 'never'}
          ul
            each user in item.users
              li
                strong uid
                |  #{user.userId}
                each sig in user.signatures
                  p sig sig
                    span  cr.
                    |  #{sig.created.split('T')[0]}
                    span  exp.
                    |  #{sig.expiry ? sig.expiry.split('T')[0] : 'never'}
          ul
            each subkey in item.subkeys
              li
                p
                  strong sub
                  |  #{subkey.algorithm.bits}/#{subkey.fingerprint.slice(-8).toUpperCase()} cr. #{subkey.created.split('T')[0]}
                  each sig in subkey.signatures
                    p sig sbind
                      span  cr.
                      |  #{sig.created.split('T')[0]}
                      span  exp.
                      |  #{sig.expiry ? sig.expiry.split('T')[0] : 'never'}
